<h2>Produto</h2>

<button class="openDialog" mat-raised-button (click)="openDialog(null)">Adicionar</button>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="productsSource" matSort (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z8">

        <!-- Product Category -->
        <ng-container matColumnDef="productCategory">
            <th class="nameCol" mat-header-cell *matHeaderCellDef mat-sort-header
                sortActionDescription="Ordenar pela Categoria"> Categoria </th>
            <td mat-cell *matCellDef="let element"> {{element.productCategory.categoryName}} </td>
        </ng-container>

        <!-- Marca -->
        <ng-container matColumnDef="brand">
            <th class="descriptionCol" mat-header-cell *matHeaderCellDef mat-sort-header
                sortActionDescription="Ordenar pela Marca"> Marca </th>
            <td mat-cell *matCellDef="let element"> {{element.brand.brandName}} </td>
        </ng-container>

        <!-- Nome -->
        <ng-container matColumnDef="productName">
            <th class="descriptionCol" mat-header-cell *matHeaderCellDef mat-sort-header
                sortActionDescription="Ordenar pelo Nome"> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
        </ng-container>

        <!-- Descrição -->
        <ng-container matColumnDef="productDescription">
            <th class="descriptionCol" mat-header-cell *matHeaderCellDef mat-sort-header
                sortActionDescription="Ordenar pela Descrição"> Descrição </th>
            <td mat-cell *matCellDef="let element"> {{element.productDescription}} </td>
        </ng-container>

        <!-- Instruções -->
        <ng-container matColumnDef="careInstructions">
            <th class="descriptionCol" mat-header-cell *matHeaderCellDef mat-sort-header
                sortActionDescription="Ordenar por Instruções"> Instruções </th>
            <td mat-cell *matCellDef="let element"> {{element.careInstructions}} </td>
        </ng-container>

        <!-- Sobre -->
        <ng-container matColumnDef="about">
            <th class="descriptionCol" mat-header-cell *matHeaderCellDef mat-sort-header
                sortActionDescription="Ordenar por Sobre"> Sobre </th>
            <td mat-cell *matCellDef="let element"> {{element.about}} </td>
        </ng-container>

        <!-- Editar -->
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Editar </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="editElement(element)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Remover -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Remover </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="deleteElement(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>

</div>