<h2 mat-dialog-title>Marca</h2>

<mat-dialog-content>

  <form [formGroup]="formGroup">

    <mat-form-field class="formFieldFullWidth">
      <mat-label>Marca</mat-label>
      <input matInput formControlName="brandName" name="brandName">

      <mat-error *ngIf="formGroup.get('brandName')?.touched && formGroup.get('brandName')?.invalid">
        Campo obrigatório.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="formFieldFullWidth">
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="brandDescription" name="brandDescription"></textarea>
    </mat-form-field>

  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="confirm()" [disabled]="formGroup.invalid">Ok</button>
</mat-dialog-actions>