<h2>Marcas</h2>

<table mat-table [dataSource]="brands" class="mat-elevation-z8">

  <!-- Name -->
  <ng-container matColumnDef="brandName">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.brandName}} </td>
  </ng-container>

  <!-- Description -->
  <ng-container matColumnDef="brandDescription">
    <th mat-header-cell *matHeaderCellDef> Descrição </th>
    <td mat-cell *matCellDef="let element"> {{element.brandDescription}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>