<h1 class="container">{{ title }}</h1>

<hr>

<button class="container" mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
    <button routerLink="/colours" mat-menu-item>Cor</button>
    <button routerLink="/brands" mat-menu-item>Marcas</button>
    <button routerLink="/sizeCategories" mat-menu-item>Tamanho Categorias</button>
    <button routerLink="/productCategories" mat-menu-item>Categorias</button>
    <button routerLink="/products" mat-menu-item>Produtos</button>
    <button routerLink="/productItems" mat-menu-item>Item</button>
    <button routerLink="/productVariation" mat-menu-item>Variação</button>
    <button routerLink="/sizeOptions" mat-menu-item>Tamanho</button>
    <button routerLink="/productAttribute" mat-menu-item>Atributo Produto</button>
    <button routerLink="/attributeOption" mat-menu-item>Atributo Opção</button>
    <button routerLink="/attributeType" mat-menu-item>Atributo Tipo</button>
</mat-menu>