<h2 mat-dialog-title>Produto</h2>

<mat-dialog-content>

    <form [formGroup]="formGroup">

        <mat-form-field class="formFieldFullWidth">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="productCategory" name="productCategory"
                [compareWith]="compareProductCategoryFunction">
                <mat-option *ngFor="let productCategory of productCategories" [value]="productCategory">
                    {{ productCategory.categoryName }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="formFieldFullWidth">
            <mat-label>Marca</mat-label>
            <mat-select formControlName="brand" name="brand" [compareWith]="compareBrandFunction">
                <mat-option *ngFor="let brand of brands" [value]="brand">
                    {{ brand.brandName }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <br>
        <h4>Imagens</h4>
        <div *ngFor="let image of productImages; let i = index">
            <div *ngIf="image" class="card">
                <img [src]="image.imageBase64" style="width: 10%;" class="card-img-top">
            </div>
        </div>

        <br>
        <input type="file" class="fileInput" (change)="onFileSelected($event)" #fileUpload>
        
        <div class="file-upload">

            <!--
            {{fileName || "No file uploaded yet."}}
            -->

            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>

        <br>

        <!-- Nome -->
        <mat-form-field class="formFieldFullWidth">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="productName" name="productName">
        </mat-form-field>

        <!-- Descrição -->
        <mat-form-field class="formFieldFullWidth">
            <mat-label>Descrição</mat-label>
            <input matInput formControlName="productDescription" name="productDescription">
        </mat-form-field>

        <!-- Instruções -->
        <mat-form-field class="formFieldFullWidth">
            <mat-label>Instruções</mat-label>
            <input matInput formControlName="careInstructions" name="careInstructions">
        </mat-form-field>

        <!-- Sobre -->
        <mat-form-field class="formFieldFullWidth">
            <mat-label>Sobre</mat-label>
            <input matInput formControlName="about" name="about">
        </mat-form-field>

    </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button (click)="confirm()" [disabled]="formGroup.invalid">Confirmar</button>
</mat-dialog-actions>