<h2 mat-dialog-title>Opção Atributo</h2>

<mat-dialog-content>

    <form [formGroup]="formGroup" class="attributeOptionDialogform">

        <mat-form-field class="formFieldFullWidth">
            <mat-label>Tipo Atributo</mat-label>
            <mat-select formControlName="attributeType" name="attributeType" [compareWith]="compareFunction">
                <mat-option *ngFor="let attributeType of attributeTypes" [value]="attributeType">
                    {{ attributeType.attributeName }}
                </mat-option>
            </mat-select>

            <mat-error *ngIf="formGroup.get('attributeType')?.touched && formGroup.get('attributeType')?.invalid">
                Tipo de atributo é obrigatório.
            </mat-error>
        </mat-form-field>


        <mat-form-field class="formFieldFullWidth">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="attributeOptionName" name="attributeOptionName">

            <mat-error *ngIf="formGroup.get('attributeOptionName')?.touched && formGroup.get('attributeOptionName')?.invalid">
                Nome é obrigatório.
            </mat-error>

        </mat-form-field>

    </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button (click)="confirm()" [disabled]="formGroup.invalid">Confirmar</button>
</mat-dialog-actions>