<h2 mat-dialog-title>Opção Atributo</h2>

<mat-dialog-content>

    <form class="attributeOptionDialogform">

        <mat-form-field class="attributeOptionDialogFullWidth">
            <mat-label>Tipo Atributo</mat-label>
            <mat-select [(ngModel)]="element.attributeType" name="attributeType"  [compareWith]="compareFunction">
                <mat-option *ngFor="let attributeType of attributeTypes" [value]="attributeType" >
                    {{ attributeType.attributeName }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="attributeOptionDialogFullWidth">
            <mat-label>Atributo</mat-label>
            <input matInput [(ngModel)]="element.attributeOptionName" name="attributeOptionName">
        </mat-form-field>

    </form>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button (click)="confirm()">Confirmar</button>
</mat-dialog-actions>