<div class="row">

    <div class="col-6">

        <p>Imagens</p>

        <div class="row">
            <img [src]="'data:image/jpeg;base64,' + selectedProductItem.productItemImages[0].imageBase64"
                class="card-img-top" alt="Card image cap">
        </div>
    </div>

    <div class="col-6">

        <h1 *ngIf="selectedProductItem && selectedProductItem.product">
            {{ selectedProductItem.product.productName }}
        </h1>

        <h3 *ngIf="selectedProductItem && selectedProductItem.product">
            {{ selectedProductItem.product.productDescription }}
        </h3>

        <hr>

        <h2 *ngIf="selectedProductItem && selectedProductItem.product && selectedProductItem.product.brand">
            {{ selectedProductItem.product.brand.brandName }}
        </h2>

        <h3 *ngIf="selectedProductItem && selectedProductItem.product && selectedProductItem.product.brand">
            {{ selectedProductItem.product.brand.brandDescription }}
        </h3>


        <!-- {{ selectedProductItem | json}} -->

        <mat-form-field class="formFieldFullWidth">
            <mat-label>Tipo Atributo</mat-label>
            <mat-select name="attributeType">
                <mat-option *ngFor="let productVariation of productVariations" [value]="productVariation">
                    {{ productVariation.size?.sizeName }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="formFieldFullWidth">
            <mat-label>Tipo Atributo</mat-label>
            <mat-select name="attributeType">
                <!--
                <mat-option *ngFor="let productColor of productColours" [value]="productColor" *ngIf="productColours.length > 0">
                    {{ productColor.colourName }}
                </mat-option>
                -->
            </mat-select>

        </mat-form-field>

    </div>



</div>