<h2 mat-dialog-title>Item</h2>

<mat-dialog-content>

    <form [formGroup]="formGroup">

        <mat-form-field class="formFieldFullWidth">
            <mat-label>Produto</mat-label>
            <mat-select formControlName="product" name="product" [compareWith]="compareProductFunction">
                <mat-option *ngFor="let product of products" [value]="product">
                    {{ product.productName }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="formFieldFullWidth">
            <mat-label>Cor</mat-label>
            <mat-select formControlName="colour" name="colour" [compareWith]="compareColourFunction">
                <mat-option *ngFor="let colour of colours" [value]="colour">
                    {{ colour.colourName }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <input type="file" class="fileInput" (change)="onFileSelected($event)" #fileUpload>

        <div class="fileUpload">

            {{fileName || "No file uploaded yet."}}

            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>

        <!-- Preço -->
        <mat-form-field class="formFieldFullWidth">
            <mat-label>Preço</mat-label>
            <input matInput formControlName="originalPrice" name="originalPrice">
        </mat-form-field>

        <!-- Promo -->
        <mat-form-field class="formFieldFullWidth">
            <mat-label>Promo</mat-label>
            <input matInput formControlName="salePrice" name="salePrice">
        </mat-form-field>

        <!-- Código -->
        <mat-form-field class="formFieldFullWidth">
            <mat-label>Código</mat-label>
            <input matInput formControlName="productCode" name="productCode">
        </mat-form-field>

    </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button (click)="confirm()" [disabled]="formGroup.invalid">Confirmar</button>
</mat-dialog-actions>