<h2>Caterorias</h2>

<button class="openDialog" mat-raised-button (click)="openDialog(null)">Adicionar</button>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="productCategoriesSource" matSort (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z8">

        <!-- Name -->
        <ng-container matColumnDef="categoryName">
            <th class="categoryNameCol" mat-header-cell *matHeaderCellDef mat-sort-header
                sortActionDescription="Ordenar pelo nome"> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
        </ng-container>

        <!-- Description -->
        <ng-container matColumnDef="categoryDescription">
            <th class="categoryDescriptionCol" mat-header-cell *matHeaderCellDef mat-sort-header
                sortActionDescription="Ordenar pela descrição"> Descrição </th>
            <td mat-cell *matCellDef="let element"> {{element.categoryDescription}} </td>
        </ng-container>

        <!-- SizeCategory -->
        <ng-container matColumnDef="sizeCategory">
            <th class="sizeCategoryCol" mat-header-cell *matHeaderCellDef mat-sort-header
                sortActionDescription="Ordenar pela Categoria"> Tamanho Categoria </th>
            <td mat-cell *matCellDef="let element">
                <ng-container
                    *ngIf="element.sizeCategory; else noSizeCategory">{{element.sizeCategory.sizeCategoryName}}</ng-container>
                <ng-template #noSizeCategory>N/A</ng-template>
            </td>
        </ng-container>

        <!-- Parent Product Category -->
        <ng-container matColumnDef="parentProductCategory">
            <th class="parentProductCategoryCol" mat-header-cell *matHeaderCellDef mat-sort-header
                sortActionDescription="Ordenar pela Categoria Pai"> Categoria Produtos Pai </th>
            <td mat-cell *matCellDef="let element"> <ng-container
                    *ngIf="element.parentProductCategory; else noParentProductCategory">{{element.parentProductCategory.categoryName}}</ng-container>
                <ng-template #noParentProductCategory>N/A</ng-template>
            </td>
        </ng-container>

        <!-- Editar -->
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Editar </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="editElement(element)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Remover -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Remover </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="deleteElement(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>

</div>