<h2 mat-dialog-title>Caterogia de Produto</h2>

<mat-dialog-content>

    <form class="productCategoryDialogform">

        <mat-form-field class="productCategoryDialogFullWidth">
            <mat-label>Categoria</mat-label>
            <input matInput [(ngModel)]="categoryName" name="categoryName">
        </mat-form-field>

        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

        <div class="file-upload">

            {{fileName || "No file uploaded yet."}}

            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>

        <mat-form-field class="productCategoryDialogFullWidth">
            <mat-label>Descrição</mat-label>
            <textarea matInput [(ngModel)]="categoryDescription" name="categoryDescription"></textarea>
        </mat-form-field>

        <mat-form-field class="attributeOptionDialogFullWidth">
            <mat-label>Categoria Tamanho</mat-label>
            <mat-select [(ngModel)]="selectedSize" name="selectedSize">
                <mat-option *ngFor="let size of sizes" [value]="size">
                    {{ size.sizeCategoryName }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="attributeOptionDialogFullWidth">
            <mat-label>Categoria Pai</mat-label>
            <mat-select [(ngModel)]="selectedParentCategory" name="selectedParentCategory">
                <mat-option *ngFor="let parentCategory of parentCategories" [value]="parentCategory">
                    {{ parentCategory.categoryName }}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </form>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button (click)="confirm()">Confirmar</button>
</mat-dialog-actions>