<h2 mat-dialog-title>Caterogia de Produto</h2>

<div mat-dialog-content>

    <form [formGroup]="formGroup">

        <mat-form-field class="formFieldFullWidth">
            <mat-label>Categoria</mat-label>
            <input matInput formControlName="categoryName" name="categoryName">
            <mat-hint>Introduza o nome da Categoria</mat-hint>

            <!-- Error -->
            <mat-error *ngIf="formGroup.get('categoryName')?.touched && formGroup.get('categoryName')?.invalid">
                Tipo de atributo é obrigatório.
            </mat-error>
        </mat-form-field>

        <br>
        <h4>Imagens</h4>
        <div *ngFor="let image of categoryImages; let i = index">
            <div *ngIf="image" class="card">
                <img [src]="image.imageBase64" style="width: 10%;" class="card-img-top">
            </div>
        </div>

        <br>
        <input type="file" class="fileInput" (change)="onFileSelected($event)" #fileUpload>
        
        <div class="file-upload">

            <!--
            {{fileName || "No file uploaded yet."}}
            -->

            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>

        <br>
        <mat-form-field class="formFieldFullWidth">
            <mat-label>Descrição</mat-label>
            <textarea matInput formControlName="categoryDescription" name="categoryDescription"></textarea>
        </mat-form-field>
        <mat-form-field class="formFieldFullWidth">
            <mat-label>Categoria Tamanho</mat-label>
            <mat-select formControlName="sizeCategory" name="sizeCategory" [compareWith]="compareSizeCategoryFunction">
                <mat-option *ngFor="let size of sizes" [value]="size">
                    {{ size.sizeCategoryName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="formFieldFullWidth">
            <mat-label>Categoria Pai</mat-label>
            <mat-select formControlName="parentProductCategory" name="parentProductCategory" [compareWith]="compareProductCategoryFunction">
                <mat-option *ngFor="let parentCategory of parentCategories" [value]="parentCategory">
                    {{ parentCategory.categoryName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>

</div>

<mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button (click)="confirm()" [disabled]="formGroup.invalid">Confirmar</button>
</mat-dialog-actions>