<h2 mat-dialog-title>Atributo</h2>

<mat-dialog-content>

  <form [formGroup]="formGroup" class="attributeTypeDialogform">

    <mat-form-field class="form-field-full-width">
      <mat-label>Atributo</mat-label>
      <input matInput formControlName="attributeName" name="attributeName">

      <mat-error *ngIf="formGroup.get('attributeName')?.touched && formGroup.get('attributeName')?.invalid">
        Nome é obrigatório.
      </mat-error>

    </mat-form-field>
  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="confirm()" [disabled]="formGroup.invalid">Ok</button>
</mat-dialog-actions>