<mat-dialog-content>

    <!-- Imagem -->
    <input type="file" class="fileInput" (change)="onFileSelected($event)" #fileUpload>

    <div class="file-upload">

        {{fileName || "No file uploaded yet."}}

        <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
        </button>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="cancelDialog()">Cancelar</button>
    <button mat-button (click)="submitDialog()">Confirmar</button>
</mat-dialog-actions>